.contactBlockWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 20px;
}

.contacts > p{
 margin: 10px 0;
}

.avatarBlock {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .contactBlockWrapper {
    flex-direction: column-reverse;
  }
}
